.widget {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }
  
  .remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
  }
  